@charset "utf-8";
<style TYPE="TEXT/CSS">

/*
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 50px;
}

user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
input, textarea, select, .l-canvas, .l-footer, .l-popup-box-content, .w-form-row-field:before, .w-iconbox.color_light.style_circle .w-iconbox-icon, .w-tabs.layout_timeline .w-tabs-item, .w-tabs.layout_timeline .w-tabs-section-header-h, .bbpress .button, .select2-dropdown {
    color: #29282e;
}
body {
    background-color: #eee;
    -webkit-tap-highlight-color: rgba(183,64,67,0.2);
}
html, .l-header .widget {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

==========================================*/
