body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 800px;
    display: flex;
}
.ulList{
    width: 50%;
    padding: 20px;
}
.imgBlock{
    width: 50%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
p{
    cursor: pointer;
    background-color: grey;
    margin: 0;
}